<div>
  <label for="newGadget">Nuevo gadget para {{hero.name}}: </label>
  <input id="newGadget" v-model="hero.newGadget" />
  <button v-on:click="addGadget(hero, hero.newGadget)" :disabled="!hero.newGadget">Añadir gadget</button>
</div>