<div>
  <div class="new-hero-container">
    <label for="newHero">Nuevo heroe: </label>
    <input id="newHero" v-focus v-model="newHero" />
    <button v-on:click="addHero()" :disabled="!newHero">Añadir heroe</button>
  </div>
  <ul>
    <li class="hero-container" v-for="hero in heroes">
      <gadgets v-bind:hero="hero" />
      <p>{{hero.name}}</p>
      <ul>
        <li v-for="gadget in hero.gadgets">
          <p>{{gadget}}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>