ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.new-hero-container,
.hero-container {
  border: 1px solid rgb(47, 160, 122);
  border-radius: 5px;
  background: #CDCDCD;
  padding: 15px;
}

.new-hero-container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  & > * {
    margin: 0 32px;
    line-height: 1;
  }
}

input {
  display: block;
  border: 1px solid #00C5BE;
  background-color: #fff;
  padding: 5px 5px;
  font-weight: normal;
  border-radius: 5px;
  margin: 12px 0;
}

button {
  color: #35495E;
  text-transform: uppercase;
  text-decoration: none;
  background: #41B883;
  padding: 5px 20px;
  border: 1px solid #35495E;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
}

button:active {
  color: #35495E;
  background: #41B883;
  border-color: #35495E;
  transition: all 0.4s ease 0s;
}

button:disabled {
  color: rgb(95, 94, 94) !important;
  background: rgb(148, 148, 148);
  border-color: rgb(70, 69, 69) !important;
  transition: all 0.4s ease 0s;
}