<template>
  <div>
    <header class="vue-header">
      <figure>
        <img src="./assets/logo.png" alt="">
      </figure>
      <h1 class="vue-title">{{title}}</h1>
    </header>
    <div id="app">
      <heroes v-bind:heroes="heroes" />
    </div>
  </div>
</template>

<script>
import heroes from "./components/heroes/index.vue";

export default {
  name: "app",
  components: {
    heroes
  },
  data() {
    return {
      title: 'Tour of Heroes with Vue',
      heroes: [
        {
          name: "Batman",
          gadgets: ["Batarang", "Batmovil"]
        },
        {
          name: "Catwoman",
          gadgets: ["Latigo", "Uñas"]
        }
      ]
    };
  }
};
</script>

<style lang="scss">
* {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 16px;
}
.vue-header {
  background: #14181d;
  width: 100%;
  & > * {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
  }
  figure {
    display: inline-block;
    vertical-align: sub;
    img {
      max-height: 32px;
      display: inline-block;
      max-width: 100%;
      height: 100%;
    }
  }
  h1 {
    color: #41B883;
  }
}
html,
body{
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
</style>
